<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="user" class="sr-only">User</label>
    <input type="text" id="user" class="form-control" #userId placeholder="User ID" required="" autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" #passwordId placeholder="Password" required="">
    <p *ngIf="userFound" class="red">User not found </p>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="validateUser()">Sign in</button>
  </form>
</div>