<div class="row" >
  <div class="col-md-6" *ngFor="let gym of gymsList">
    <div class="card">
      <h3 class="card-header">{{gym.name}}</h3>
      <hr>
      <div class="card-block">
        <h4 class="card-title">Members {{gym.noMembers}}</h4>
        <p class="card-text">{{gym.addres}}</p>
        <!-- <a href="/gym/members/{{gym.id}}" class="btn btn-primary">List Members</a> -->
        <a href="/gym/info/{{gym.id}}" class="btn btn-primary">Detail info</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
      <div class="card">
        <h3 class="card-header">List of Members in Gyms</h3>
        <hr>
        <div class="card-block">
          <!-- <h4 class="card-title">Members {{gym.noMembers}}</h4> -->
          <!-- <p class="card-text">{{gym.addres}}</p> -->
          <!-- <a href="/gym/members/{{gym.id}}" class="btn btn-primary">List Members</a> -->
          <a href="/members" class="btn btn-primary">GO!</a>
        </div>
      </div>
    </div>
</div>