<div class=" container-fluid app-layout">
    <div class="row">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid" id="ctn">
                    <div class="navbar-header">
                        <a class="navbar-brand" (click)="goGymList()">Gym Test</a>                        
                    </div>
                    <div id="logOut"  > <a [hidden]="hiddenLog" (click)="loginOut()">Log out</a> </div>                    
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
		<div class="container">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>