<div class="row center">
    <div class="col-md-6 ">
      <div class="card" *ngIf="member">
        <h3 class="card-header">{{member.name}}</h3>
        <hr>
        <div class="card-block">
          <h4 class="card-title">Difficulty Level {{member.difficultyLevel}}</h4>
          <p class="card-text">Afiliation Date {{member.afiliationDate}}</p>
          <a href="/gym/info/{{member.gymId}}" >Gym {{getGym(member.gymId)}}</a>
        </div>
      </div>
    </div>
</div>