
<div class="row center">
  <div class="col-md-6 ">
    <div class="card" *ngIf="gym">
      <h3 class="card-header">{{gym.name}}</h3>
      <hr>
      <div class="card-block">
        <h4 class="card-title">Members {{gym.noMembers}}</h4>
        <p class="card-text">{{gym.addres}}</p>
        <a href="/gym" class="btn btn-primary">Gyms</a>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-md-4">
    <h4 class="text-primary">Members afiliate to this Gym</h4>
    <div class="list-group">
      <button *ngFor="let member of members" (click)="goToMemberInfo($event)" id="{{member.id}}" type="button" class="list-group-item list-group-item-action"> {{member.name}} <span class="glyphicon glyphicon-menu-right right"></span> </button>
    </div>
  </div>    
</div>
