.card{
    border: 1px gray solid;
    border-radius: 1em;
    padding: 1rem;
    margin: 1rem;
}

.center{
    display: flex;
    justify-content: center;
}

.list-group-item-action{
    margin: 1px;
}

.right{
    float: right;
}