<div class="row" >
    <div class="col-md-12">
      <h4 class="text-primary">Members in gyms</h4>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action"> 
            <div class="col-md-3" >Member </div>
            <div class="col-md-2" >Difficulty Level </div>
            <div class="col-md-2" >Afiliation Date </div>
            <div class="col-md-3" >Gym </div>
        </button>
        <div 
          *ngFor="let member of membersList" 
          class="divitem list-group-item list-group-item-action"> 
            <div class="col-md-3" >{{member.name}} </div>
            <div class="col-md-2" >{{member.difficultyLevel}} </div>
            <div class="col-md-2" >{{member.afiliationDate}} </div>
            <a class="col-md-3" (click)="goToGym(member.gymId)" >{{ getGymName(member.gymId)}} </a>
            <button class="col-md-1 btn btn-primary centertext" (click)="goToMemberInfo(member.id)"><span   class="glyphicon glyphicon-menu-right"></span> </button>
      </div>
      </div>
    </div>    
</div>